body {
  padding-top: 35px;
    background: linear-gradient(#2bd, #0000ff);
    background-repeat: no-repeat;
}
.starter-template {
  padding: 5px 15px;
  text-align: center;
}
.grid-style {
    padding: 10px;
}
.scroll-list ul {
  list-style:none;
  max-height:400px;
  margin:0;
  overflow:auto;
  padding:0;
  text-indent:10px;
}
.scroll-list li {
  line-height:25px;
}
.scroll-list li:nth-child(even) {
  background:#ccc;
}
